* {
    overflow-y: hidden;
}

body .comingSoon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

@media screen and (max-width: 600px) {
    #logo {font-size: x-small;}
}