* {
    overflow-y: visible;
}

.projectsText {
    margin: 3vw;
    margin-bottom: 0.5vh;
    margin-top: calc(3vw + 82px);
    width: auto;
}

.projectsArea {
    display: grid;
    width: 100vw;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(30vh, 400px));
}

.projectsArea .project{
    margin: 3vw;
    background-color: #0F0F0F;
    width: 30vh;
    height: 30vh;
    border-radius: 20px;
}

.projectBanner img {
    width: 30vh;
    height: 15vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.projectTitle {
    display: flex;
    justify-content: space-around;
}

.projectTitle h2 {
    margin: auto;
}

.projectDescription p {
    margin: 1vh 1vw;
}

.projectType {
    background-color: #8D17B6;
    border-radius: 20px;
    padding: 1px 5px;
    font-weight: normal;
}

@media screen and (max-width: 600px) {
    #logo {font-size: x-small;}
}