body {
    overflow-x: hidden;
}

.projectShowcaseArea {
    margin: 0px 5vw;
    margin-top: 10vh;
    min-height: fit-content;
    width: 90vw;
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: auto;
    grid-template-rows: 1;
}

.projectShowcaseArea div {
    grid-row: 1;
}

.projectWrapper {
    height: 100%;
    border-radius: 20px;
    border: #0F0F0F solid 10px;
    background-color: #370456;
    min-width: 220px;
}

.projectWrapper a {
    display: block;
    text-align: center;
}

.projectWrapper p, h3 {
    margin: 0;
    font-size: larger;
}

.projectWrapper a img {
    height: 320px;
    width: 220px;
}

.projectWrapper a:hover {
    text-decoration: underline;
}

.outerPanelRight {
    margin-top: 25vh;
    width: 95vw;
    height: 40vh;
    background-color: #0F0F0F;
    border-radius: 20px;
}

.innerPanelRight {
    float: right;
    background-color: #370456;
    border-radius: 20px;
    margin: 5vh 10vw;
}

.innerPanelLeft, .innerPanelRight {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    height: 500px;
    width: 500px;
    min-width: 500px;
    min-height: 500px;
}

.outerPanelTextRight {
    margin-left: 5vw;
    padding-top: 10px;
    max-width: 40vw;
}

.outerPanelLeft {
    display: flex;
    margin: 5vh 5vw;
    margin-top: 200px;
    width: 95vw;
    height: 40vh;
    background-color: #0F0F0F;
    border-radius: 20px;
}

.innerPanelLeft {
    background-color: #370456;
    border-radius: 20px;
    margin: 5vh 10vw;
}

.outerPanelTextLeft {
    max-width: 40vw;
}

@media screen and (max-width: 600px) {
    .projectShowcaseArea {
        transition: transform 0.5s ease-in-out;
        display: flex;
        overflow-x: visible;
    }

    .projectWrapper {
        margin: 0px 30px;
    }
}

@media screen and (max-width: 1000px) {
    .innerPanelLeft, .innerPanelRight {
        font-size: large;
        height: 200px;
        width: 200px;
        min-width: 200px;
        max-height: 200px;
        min-height: 200px;
    }

    .innerPanelLeft h1, .innerPanelRight h1 {
        text-align: center;
    }

    .outerPanelRight, .outerPanelLeft {
        height: fit-content; 
        min-height: 800px;
        display: flex;
    }
}
