.address-bar {
    display: flex;
    width: 796px;
    height: 30px;
    align-items: center;

    margin-bottom: 5px;
    color: black;

    border: 2px solid white;
    border-bottom-color: #808080;
    border-right-color: #808080;

    p {
        margin: 0 10px 0 10px;
    }

    .address-text {
        display: flex;
        align-items: center;

        img {
            margin-left: 3px;
        }
    }

    .address {
        border: 2px solid black;
        width: 89%;
        background-color: white;
        border-bottom-color: #c0c0c0;

        display: flex;
    }
}