#root {
  width: 98vw;
  height: 100%;
  text-align: center;
}

.windowRight {
  float: right;
}

.center {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  left: -250px;
  top: -100px;
  right: 0;
  bottom: 0;
}

.desktop-grid {
  padding: 10px;
  height: 93vh;
  width: 100%;
  display: grid;

  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, 100px);
  grid-template-rows: repeat(auto-fit, 100px);
}
