.folder-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;

    img {
        height: 64px;
    }

    p {
        text-align: center;
        font-size: small;
        margin: 0 5px;
    }
}

.folder-icon-container:hover {
    cursor: pointer;
}