.taskbar-item {
    button {
        background-color: #c0c0c0;
        color: black;
        font-size: large;
        padding: 10px 15px;
        margin-right: 5px;
        border: 1px solid white;
        border-right-color: black;
        border-bottom-color: black;
        height: 43px;

        div {
            display: flex;
            align-items: center;

            img {
                margin-right: 5px;
            }
        }
    }

    button:hover {
        cursor: pointer;
    }
}