.upper-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #c0c0c0;
    border-top: 2px solid #FFFFFF;
    padding: 3px 3px 5px 3px;
    height: 47px;

    .upper-left {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .upper-right {
        display: flex;

        p {
            color: black;
            font-size: large;

            border: 1px solid white;
            border-top-color: #808080;
            border-left-color: #808080;

            margin: 0;

            width: 64px;
            padding: 7px 0;

            text-align: center;
        }
    }
}

.divider {
    margin-right: 5px;
}