@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'win95';
    src: url('../public/fonts/W95FA.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@theme {
    --color-win-background-blue: #0d7173;
    --color-win-dark-blue: #000080;
    --color-win-light-gray: #c0c0c0;
    --color-win-lighter-gray: #dfdfdf;
    --color-win-dark-gray: #808080;
}

@layer base {
    body {
        @apply font-[win95];
        @apply overflow-hidden;
    }

    #root {
        @apply w-screen h-screen;
    }
}