@import "tailwindcss";

@tailwind utilities;

@font-face {
    font-family: 'win95';
    src: url('../fonts/W95FA.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@theme {
    --color-win-background-blue: #0d7173;
    --color-win-dark-blue: #000080;
    --color-win-light-gray: #c0c0c0;
    --color-win-lighter-gray: #dfdfdf;
    --color-win-dark-gray: #808080;
}

@layer base {
    body {
        @apply font-[win95];
        @apply overflow-hidden;
    }

    #root {
        @apply w-screen h-screen;
        image-rendering: crisp-edges;
    }
}

.markdown {
    h1 {
        @apply text-2xl font-bold mt-4;
    }

    h2 {
        @apply text-xl font-bold mt-4;
    }

    h3 {
        @apply text-xl mt-2;
    }

    p {
        @apply text-base leading-relaxed mt-2;
    }

    ul {
        @apply list-disc list-inside;
    }

    a {
        @apply text-blue-500 underline;
    }
}